<div class="container">
  <div class="row">
    <h1 class="text-center">Greetings</h1>
  </div>

  <div class="row">
    <form class="form-inline  pad-bottom-15  pad-top-15">
      <div class="form-group">
        <label class="sr-only" for="restGetExampleSalutation">Enter Salutation</label>
        <input type="text" ng-model="newGetGreeting.salutation" class="form-control" id="restGetExampleSalutation" placeholder="Enter Salutation">
      </div>
      <div class="form-group">
        <label class="sr-only" for="restGetExampleName">Enter Name</label>
        <input type="text" ng-model="newGetGreeting.name" class="form-control" id="restGetExampleName" placeholder="Enter Name">
      </div>
      <button ng-click="getGreeting()" type="submit" class="btn btn-default">Get Greeting</button>
    </form>
    <form class="form-inline  pad-bottom-15  pad-top-15">
      <div class="form-group">
        <label class="sr-only" for="restPostExampleSalutation">Enter Salutation</label>
        <input type="text" ng-model="newPostGreeting.salutation" class="form-control" id="restPostExampleSalutation" placeholder="Enter Salutation">
      </div>
      <div class="form-group">
        <label class="sr-only" for="restPostExampleName">Enter Name</label>
        <input type="text" ng-model="newPostGreeting.name" class="form-control" id="restPostExampleName" placeholder="Enter Name">
      </div>
      <button ng-click="postGreeting()" type="submit" class="btn btn-default">Post Greeting</button>
    </form>
    <h2 class="bg-primary text-center pad-bottom-15 pad-top-15" ng-show="hasGreeting()"">{{greeting.salutation}} {{greeting.name}}!</h2>
  </div>

</div>
